.App {
  position: absolute;
  top: 50%;
  left:50%;
  background-color: #f8f9fa;
  width: 50%;
  height: 60%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 4px 15px rgba(0,0,0,0.2);
  border-radius: 15px;
}